.registrazione {
  background: url('../immagini/background.png') center;
  background-repeat: repeat;
  align-items: center;
}

body {
  background-image: url('./immagini/background.png');
  background-repeat: repeat;
}

.contenitore.inizio {
  margin: auto;
  background-image: url('background.png');
  background-repeat: repeat;
}

.classe_iniziale {
  margin: auto;
  width: 300px;
}

.registrazione {
  margin: auto;
  width: 300px;
}

form {
  width: 300px;
}

form,
form * {
  width: fit-content;
}

.box1 {
  margin-left: 2%;
  font-size: 25px;
}

.box2 {
  transition: transform .2s;
  margin-left: 8%;
}

.box2:hover {
  transform: scale(1.1);
}

.box3:hover {
  transform: scale(1.1);
}

.box3 {
  transition: transform .2s;
}

.contenitore-inizio {
  margin-top: 140px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
}

.contenitore-inizio p {
  margin-top: 20px;
}

.font-figo {
  font-size: 30px;
  font-family: 'Pokemon Solid', sans-serif;
  text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
  margin-top: 40px;
}

.main-carousel {
  padding: 0px 0;
}

.carousel-cell {
  margin-top: 30px;
  height: 280px;
  width: 280px;
  text-align: center;
  margin-right: 40px;
}

.contenitore2 {
  text-align: center;
}

.contenitore2 h1 {
  margin-top: 10%;
}

#zygardecard {
  background: url('immagini/zygarde.png') center;
  background-size: contain;
}

#set-fuoriclasse {
  background: url('immagini/set-fuoriclasse.png') center;
  background-size: contain;

}

#box-ee {
  background: url('immagini/box-ee.jpg') center;
  background-size: contain;
}

#pikachu-vmax {
  background: url('immagini/pikachu-vmax.png') center;
  background-size: contain;
}

#bustina-vs {
  background: url('immagini/bustina-vs.png') center;
  background-size: contain;
}

#bustina-sdl {
  background: url('immagini/bustina-sdl.png') center;
  background-size: contain;
}

#set-fc {
  background: url('immagini/set-fc.png') center;
  background-size: contain;
}

.contenitore3 {
  text-align: center;
  display: flex;
  margin-left: 5%;
}

.contenitore4 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}

.contenitore5 {
  width: 25%;
  margin: auto;
  position: relative;
}

.contenitore6 {
  width: 33%;
  margin: auto;
  position: relative;
}

.contenitore7 {
  width: 50%;
  position: relative;
}

.centered {
  font-weight: 200px;
  text-align: center;
}

.contenitore8 {
  margin-top: 80px;
}

.login.php font-figo {
  margin: auto;
}

.scritta {
  font-family: impact, fantasy;
  color: grey;
}

.font-figo1 {
  font-size: 30px;
  font-family: 'Pokemon Solid', sans-serif;
  text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
  margin-top: 40px;
  text-align: center;

}

.hidden {
  display: none;
}

.footerpagina {
  background: #bfaa8c;
  padding: 20px;
  text-align: center;
}

.footerpagina p {
  color: white;
}

hr {
  color: white;
}

.font2 {
  font: italic small-caps bold 16px/2 cursive;
}

.minibox {
  display: flex;
  flex-wrap: wrap;
}

.box4 {
  margin-left: 2%;
  font-size: 25px;
  text-align: center;
}

.contenitore-inizio1 {
  margin-top: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
}

nav {
  background-image: linear-gradient(to bottom, #ffffff, #f8f8f8, #f2f2f2, #ebebeb, #e5e5e5);
  height: 90px;

}

nav img {
  width: 110px;
  position: absolute;
  top: 22px;
  margin-left: 20px;

}

* {
  text-decoration: none;
  list-style: none;
  margin: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  float: right;
  margin-right: 30px;
}

nav li {
  display: inline-block;
  line-height: 90px;
  margin-right: 15px;
  text-transform: uppercase;
  color: #032459;
}

nav a {
  position: relative;
  color: #032459;
}

nav a:hover {
  color: yellow;
  background-color: #032459;
  padding: 10px;
  border-radius: 10px;
}

.class1 {
  width: 50%;
}

.class2 {
  width: 50%;
}

.contenitore10 {
  display: flex;
}

.boxhome {
  display: flex;
}

.boxhome1 {
  text-align: center;
  width: 50%;
  font-weight: 900;
  font-size: x-large;
}

.boxhomeimg {
  width: 50%;
}

.button {
  background-color: #ccc;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

form .login.php {
  padding: 40px;
  background: #DDD;
  border: 4px solid #AAA;
  width: 360px;
  margin: 30px auto;
}

input {
  font: 14px 'Open Sans', sans-serif;
  border: 2px solid #ccc;
  padding: 6px;
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

button {
  font: 14px 'Open Sans', sans-serif;
  background-color: #4285f4;
  color: white;
  padding: 6px;
  cursor: pointer;
  border: none;
  margin-top: 10px;
  text-transform: uppercase;
}
.checkouttext{
  font: 14px 'Open Sans', sans-serif;
}
.contenitore11{
  display: flex;
  flex-wrap: wrap ;
  justify-content: space-between;
  width: 50%;
}
.carrello2{
  margin-right: 80%;
}
.carrello3{
  margin-right: 80%;
}

